:root{
  --brand: #D1D2F9;
  --accent-dark: #3E2C41;
  --accent-light: #6E85B2; 
  --shades-dark: #261C2C;
  --shades-light: #5C527F;
}

/* General Styling */
* {margin: 0; padding: 0; color: var(--brand); font-family: 'Quicksand';}
body, html{font-size: 100%; min-height: 100%;}
.app{min-height: 100%; height: 100%;}
html{cursor: none; height: 100%;}
body{background-color: var(--shades-light);-ms-overflow-style: none; scrollbar-width: none; min-height: 100%;}
a{text-decoration: none; color: inherit; cursor: none;}
nav{display: flex; justify-content: space-around; align-items: center; position: fixed; left: 0; top: 0; width:100%; z-index: 1;}
i{ margin: 3%; }

body::-webkit-scrollbar{
  display: none;
}

/* Responsive Design CSS */

/* Media Queries: Tablet Landscape */
@media screen and (max-width: 1060px) {
  #primary { width:67%; }
  #secondary { width:30%; margin-left:3%;}  
}

/* Media Queries: Tabled Portrait */
@media screen and (max-width: 768px) {
  #primary { width:100%; }
  #secondary { width:100%; margin:0; border:none; }
}
/* Responsive Typography */
@media (min-width: 640px) { body {font-size:1rem !important;} } 
@media (min-width:960px) { body {font-size:1.2rem !important;} } 
@media (min-width:1100px) { body {font-size:1.5rem !important;} }

/* Responsive Cursors */
@media (max-width: 767px) { .cursor{display: none}; }

/* Responsive Button */
@media (max-width: 767px) {
  .button:before{width: 100%; border-radius: 18px;}
}

/* Responsive Navigation Menu */
@media screen and (max-width: 500px) {
  .nav-list {
    float: none;
    display: block;
    text-align: left;
  }
}

/* Responsive Find Me Questions Grids */
@media (max-width: 800px) {
  .find-ques {
    flex-flow: column wrap;
  }
}

/* ---------------------- */

/* Cursor code */
.cursor { 
  position: absolute;
  top: 300px;
  left: 320px;
  width: 30px;
  height: 30px;
  background-color: #dfe5f46b;
  border-radius: 50%;
  margin-top: -6px;
  margin-left: -5px;
  filter: blur(1px);
}

.frame{
  text-align: center;
}

/* Background elements */

.back-svg{
  overflow: hidden;
  position: absolute;
  z-index: 0;
}
.line-1{
  top: 240px;
  left: 880px;
}
.line-2{
  left: 935px;
  top: 440px;
}
.circle{
  top: 440px;
  left: 895px;
}
.swirl{
  top: 76.83px;
}
.scroll{
  overflow: unset;
  left: -2%;
  bottom: 3%;
} 
.scroll-text{
  font-family: 'Satisfy';
  font-style: normal;
  font-weight: lighter;
  font-size: 25px;
  line-height: 36px;
  margin-bottom: 50px;
  -webkit-transform: rotate(
-90deg);
  color: rgba(255, 215, 101, 0.5);
  transform: rotate(-90deg);
}

/* Navigation Panel code */

/* .nav-bar{
  box-shadow: 0px 1px 10px rgba(255, 215, 101, 0.2);
} */

.nav-list{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

.nav-list li{
  margin: 5px 15px;
  padding: 10px;
  font-family: Quicksand;
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 37px;
  /* identical to box height */

  letter-spacing: 0.15em;
  text-transform: uppercase;
}

.nav-list li a:hover{
  font-size: 32px;
}

.nav-list li > .active{
  border-bottom: solid;
  font-size: 32px;
  font-weight: 700;
}

.resume{
  float: right;
}

.i-download{
  margin:10px 0 0 5px;
}


/* --------------------- */

/* Content */
.content{
  padding: 15% 0 0 10%;
  position: relative;
  max-width: 45rem;
  text-align: left;
}
.greet{
  font-family: 'Satisfy', cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 90px;
  line-height: 130px;
}
.name{
  margin-top: 15%;
  font-family: Share Tech;
  font-style: normal;
  font-weight: normal;
  font-size: 70px;
  line-height: 79px;
  /* identical to box height */

  letter-spacing: 0.2em;
}
.name span{
  font-family: Share Tech;
  color: #FFD765;
}
.details{
  margin-top: 5%;
  font-family: Share Tech;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 45px;
  letter-spacing: 0.05em;
}
.socials{
  margin-top: 5%;
}
.github{
  margin-left: 0;
}

.head{
  font-family: Share Tech;
  font-style: normal;
  font-weight: normal;
  font-size: 45px;
  line-height: 51px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #FFD765;
}
/* ------- */


/* Work Page CSS */
.work-container{
  margin: 10% 0 80% 0;
  padding: 0;
  width: 100%;
}
/* ------------- */


/* Find Me Page CSS */
.find-container{
  margin-top: 100%;
  padding: 0;
  width: 100%;
  height: 100%;
}

.find-details{
  padding: 5% 0 0 10%;
}

.find-ques-container{
  margin: 3% 10% 0 15%;
}

.find-ques{
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
}
.find-ques>li{
  padding: 1.5%;
}

.item-left{
  width: 55%;
  font-family: Share Tech;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 34px;
  align-items: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFD765;
}
.item-right{
  width: 30%;
  font-family: Share Tech;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 27px;
  align-items: center;
  color: var(--brand);
}
/* ---------------- */

/* Footer CSS */
.credit{
  bottom: 1%;
  margin-right: 1%;
  float: right;
}
.foot{
  font-family: Satisfy;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 35px;
  color: rgba(209, 210, 249, 0.4);
}
.foot-name{
  font-family: Share Tech;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 27px;
  text-decoration-line: underline;
  color: rgba(255, 215, 101, 0.6);
}
/* ---------- */