:root{
  --brand: #D1D2F9;
  --accent-dark: #3E2C41;
  --accent-light: #6E85B2; 
  --shades-dark: #261C2C;
  --shades-light: #5C527F;
}

/* General Styling */
* {margin: 0; padding: 0; color: var(--brand); font-family: 'Quicksand';}
body, html{font-size: 100%; min-height: 100%;}
.app{min-height: 100%; height: 100%;}
html{cursor: none; height: 100%;}
body{background-color: var(--shades-dark); overflow: hidden; overflow-y: scroll; min-height: 100%;}
a{text-decoration: none; color: inherit; cursor: none;}

/* Responsive Design CSS */

/* Media Queries: Tablet Landscape */
@media screen and (max-width: 1060px) {
  #primary { width:67%; }
  #secondary { width:30%; margin-left:3%;}  
}

/* Media Queries: Tabled Portrait */
@media screen and (max-width: 768px) {
  #primary { width:100%; }
  #secondary { width:100%; margin:0; border:none; }
}
/* Responsive Typography */
@media (min-width: 640px) { body {font-size:1rem !important;} } 
@media (min-width:960px) { body {font-size:1.2rem !important;} } 
@media (min-width:1100px) { body {font-size:1.5rem !important;} }

/* Responsive Cursors */
@media (max-width: 767px) { .cursor{display: none}; }

/* Responsive Button */
@media (max-width: 767px) {
  .button:before{width: 100%; border-radius: 18px;}
}
/* ---------------------- */

/* Margin-top */

.margin-top-15{
  margin-top: 50%;
}

.margin-left-4{
  margin-left: 4.10%;
}
.margin-top-10{
  margin-top: 5%;
}
.margin-top-4{
  margin-top: 4%;
}
/* ---------- */

/* Cursor code */
.cursor { 
  position: absolute;
  top: 300px;
  left: 320px;
  width: 30px;
  height: 30px;
  background-color: #dfe5f46b;
  border-radius: 50%;
  margin-top: -6px;
  margin-left: -5px;
  filter: blur(1px);
}
/* .cursor:after {
  position: absolute;
  display: block;
  content: "";
  width: 30px;
  height: 30px;
  background: #dfe5f46b;
  border-radius: 50%;
  transform-origin: 30px 30px;
  transform: rotate(30px);
  -webkit-animation: rotate 3.5s ease-in-out infinite;
          animation: rotate 3.5s ease-in-out infinite;
  filter: blur(1px);
}
.cursor:before {
  position: absolute;
  display: block;
  content: "";
  width: 40px;
  height: 40px;
  background: #dfe5f46b;
  border-radius: 50%;
  transform-origin: 40px 40px;
  transform: rotate(300px);
  -webkit-animation: rotate 3.5s ease-in-out infinite;
          animation: rotate 3.5s ease-in-out infinite;
  filter: blur(1px);
}
@-webkit-keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* Nav Bar */

.nav-container{
  background-color: var(--shades-light);
  margin: auto;
  width: 4.1%;
  height: 100%;
  overflow: auto;
  position: fixed;
  writing-mode: vertical-lr;
  box-shadow: 2px 0px 10px rgba(255, 255, 255, 0.13);
}


/* ------- */

/* Fluid Design */
.row{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
}
.column .text{
  width: 45%;
}
.column .image{
  width: 45%;
}
.avatar-img{
  background: rgba(223, 229, 244, 0.05);
  border-radius: 18px;
  height: 100vh;
}
.column .socials{
  flex-wrap: wrap;
  width: 10%;
}
.icon-socials{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.icon-socials img{
  margin: 80% 0;
  transform: rotate(-90deg);
}
/* ------------ */

.text-header{
  font-size: 45px!important;
  font-style: normal;
  font-weight: bold !important;
  line-height: 56px;
  letter-spacing: 0.25em;
  text-transform: uppercase !important;
}

/* Landing Text SubHeader */
.text-subheader{
  font-size: 40px!important;
  font-style: normal;
  font-weight: 500 !important;
  line-height: 50px !important;
}
.name{
  color: #00c9be;
  font-weight: bold;
}

/* Landing Text Description */
.text-desc{
  font-family: 'Quicksand', sans-serif;
  font-size: 30px !important;
  font-weight: 300 !important;
  line-height: 45px;
}
/* .text-desc:first-of-type{
  margin-top: 10% !important;
} */

/* Explore Portfolio Button */
.button{
  position: relative;
  padding: 11px 22px;
  transition: all .2s ease;
}
.button:before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 28px;
  background: #dfe5f46b;
  box-shadow: 5px 5px 10px 3px rgba(19, 13, 13, 0.25);
  width: 56px;
  height: 56px;
  transition: all .6s ease-in-out;
}
.button span{
  position: relative;
  color:#F0CDB8;
  font-size: 16px;
  line-height: 18px;
  font-weight: 900;
  letter-spacing: .25em;
  text-transform: uppercase;
  vertical-align: middle;
}
.svg-arrow {
  position: relative;
  margin-left: 15px;
  top: 13px;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}

.button:hover:before{
    width: 100%;
    background: #dfe5f46b;
    border-radius: 18px;
}

.button:hover svg{
  transform: translateX(0);
}
.button:active{
  transform: scale(.96);
}